html {
    background: url("images/yt_suggested.jfif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html {
    background: url("images/Suggested_bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.dropdown {
    display:inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    color: white;
    font-size: 50px;
    padding: 5px;
    box-shadow: 5px 5px 10px black;
}
.dropdown:hover .dropdown-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
h1 {
    color: black;
    text-align: center;
    font-size: 50px;
}
.navibar{
    background-color: red;
    border-style: inset;
    border-color: black;
    position: sticky;
    top:0px;
}
.navibar th {
    border: solid black;
    padding: 5px;
}
a {
    color: black;
    font-size: 20px;
}
.active {
    background-color: yellow;
}
#logos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.dropdown {
    padding: 50px;
}
.fade-in {
    animation-name:fade-in-animation;
    animation-duration: 10s;
}
@keyframes fade-in-animation {
    from {
        opacity: 0;
        transform: rotate(-80deg);
        width: 100px;
    }
    to {
        opacity: 1;
        transform: rotate(0deg);
        width: 300px;
    }
}
